.dragging {
    transition: 0.2s;
    transform: scaleY(0);
    background-color: orange;
}

.draggable {
    /* transition: 0.2s;
    transform: scaleY(1); */
    padding: 1rem;
    background-color: white;
    border: 1px solid black;
    cursor: move;
}

.dropzone {
    background-color: #333;
    padding: 1rem;
    margin-top: 1rem;
}

.over {
    background-color: aqua;
}