@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('MaterialIcons-Regular'),
      url(./fonts/MaterialIcons-Regular.ttf) format('truetype');
}

* {
    /* disable selection */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Old version of Firefox */
    -ms-user-select: none; /* Internet Explorer or Edge */
    user-select: none; /* All modern browsers */

    color: white;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: white;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}

body {
    margin: 0;
    padding: 0;
    background-color: #222222;
}

.strikethrough {
    text-decoration: line-through;
}

#todo {
    background-color: grey;
    display: grid;
    grid-auto-flow: row;
}

#done {
    background-color: #444444;
}

#add-item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.item {
    display: grid;
    grid-template-columns: auto 5fr 40px;
    align-items: center;
    gap: 1vw;
    padding: 1vh 1vw;
}

input[type=checkbox] {
    margin: 0;
    padding: 0;
}

input {
    color: black;
}

button {
    background-color: green;
    border-radius: 5px;
}
button.cancel {
    background-color: orange;
}
button.delete {
    background-color: red;
}