* {
    /* disable selection */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Old version of Firefox */
    -ms-user-select: none; /* Internet Explorer or Edge */
    user-select: none; /* All modern browsers */    
}

.strikethrough {
    text-decoration: line-through;
}

#todo {
    background-color: greenyellow;
}

#done {
    background-color: orange;
}